{% extends "bootstrap/base.html" %} #masterFile
{% block title %} Home Page {% endblock %}
{% block styles %}
{{super()}}
{% endblock %}

<!-- Navigation Bar -->
{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>
				<a class="navbar-brand" href="#">Project Name</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">

				  </div>
				  <!-- /.navbar-collapse -->
		</div>
	</nav>
{% endblock %}
{% block content %}
<div class="container">
		<div class="row marketing">
				

	<div class="col-lg-6">
	{% for item in data %}
	<h4>{{item.name}}</h4>
	<img src="{{item.img}}" />					
					<p></p>
					{% endfor %}
				</div>




			  </div>
	</div>
{% endblock %}



